body {
    background-color:#976F4F;
}


/* Nav bar styling */
nav {
    background-color: #007A79;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

li a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #C7CEDF;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

li a:hover {
    background-color: #4D2A16;
}

/* introduction block styling */
#introduction {
    background-image: url(204-1900x300.jpg);
    background-repeat:repeat-x;
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, sans-serif;
}

#introduction h1 {
    font-size: 30px;
    margin-top: 10%;
    background-color: rgba(60, 55 ,68 , .6);
    color: #C7CEDF;
    padding: 2px;
}

#introduction p {
    font-size: 20px;
    background-color: rgba(60, 55 ,68 , .6);
    color: #C7CEDF;
    padding: 2px;
}

/* Styling for project boxes */
#projectDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 2%;
    justify-content: center;
}

.project {
    background-image: url(701-400x320.jpg);
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    margin: 2%;
}

.project:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

#mainProject {
    background-image: url(12-400x320.jpg);
    height: 320px;
    width: 400px;
}
#firstProject {
    background-image: url(37-400x320.jpg);
    height: 320px;
    width: 400px;
}
#secondProject {
    background-image: url(588-400x320.jpg);
    height: 320px;
    width: 400px;
}
#thirdProject {
    background-image: url(866-400x320.jpg);
    height: 320px;
    width: 400px;
}
#fourthProject {
    background-image: url(1019-400x320.jpg);
    height: 320px;
    width: 400px;
}

/* Styling for project captions */
.caption {
    font-size: larger;
    margin: 7% 2% 0% 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #002A29;
    border:#4D2A16;
    background-color: #976F4F;
}

/* Styling for footer bar */
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 2%;
    justify-content:space-evenly;
    background-color: #007A79;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #C7CEDF;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}



